@import '../../../scss//abstracts/mixins.module';
@import '../../../scss//abstracts/variables.module';


.container {
    display: flex;
    width: 330px;
    transition: .2s linear;

    &:hover{
        transform: scale(1.015);
    }

    .card {
    margin: 10px;
    background-color: rgba(17, 17, 17, .3);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    .cardHeader {
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }
    .cardBody {
        p{
            font-size: 13px;
            margin: 0 0 40px;
        }
    }
    .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        min-height: 175px;
        .tagsContainer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            .tag {
                background: $light-color;
                border-radius: 3px;
                font-size: 12px;
                margin-right: 5px;
                margin-bottom: 10px;
                color: $light-color;
                padding: 2px 10px;
                text-transform: uppercase;
            }
            .tagTeal {
                background-color: $primary-color;
            }
        }
    }
    .user {
        width: 100%;
        display: flex;
        margin-top: auto;
        .userInfo{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            small:nth-child(2) {
                color: $primary-color;
                transition: .2s linear;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    }
  }
  
  