@import '../../../scss//abstracts/mixins.module';
@import '../../../scss//abstracts/variables.module';



.cardsContainer{
    max-width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}