@import '../../../scss//abstracts/mixins.module';
@import '../../../scss//abstracts/variables.module';


.portfolioContainer{
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .portfolioTitle{
        position: relative;
        margin-top: 100px;
        margin-bottom: 40px;
        h2{
            font-size: 32px;
        }
    }

}

.gallery{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-auto-rows: 10px;
    justify-content: center; 
    margin-bottom: 100px;
}