@import '../../../scss/abstracts/mixins.module';
@import '../../../scss/abstracts/variables.module';


.portfolioContainer{
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .portfolioTitle{
        position: relative;
        margin-top: 100px;
        margin-bottom: 40px;
        @include centerDivsCols;

        h4{
            @include subtitleSize;
        }
        h2{
            font-size: 32px;
            @include titleDegree;
        }
    }

}

.gallery{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-auto-rows: 10px;
    justify-content: center; 
    margin-bottom: 100px;

    @media screen and (min-width: 320px) {
        grid-template-columns: repeat(1, 300px);
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 300px);
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(2, 475px);

    }
}