@import '../../../scss/abstracts/mixins.module';
@import '../../../scss/abstracts/variables.module';

.pin{

    border-radius: 10px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    @include centerDivs;

    .cardDetails{
        height: 100%;
        width: 100%;
        z-index: 5;
        position: absolute;
        display: flex;
        transition: .2s linear;

        @include centerDivsCols;
    }

    .mainPic{
        width: 100%;
        transition: 0.25s;
        &>img{
            width: 100%;
            object-fit: cover;
        }

        .img1x1{

            aspect-ratio: 1 / 1;
        } 
        .img1x2{
            aspect-ratio: 1 / 2;
        }
    }
}

.medium{
   grid-row-end: span 40; 
}
.large{
    grid-row-end: span 60;
}

  figure figcaption::before {
      content: "";
      position: absolute;
      background-color: transparent;
      inset: 20px;
      opacity: 0;
      scale: 1.25;
      transition: opacity 0.25s, scale 0.25s;
  }
  
  figure:hover figcaption::before {
      opacity: 1;
      scale: 1;

  }
  
  figure img {
      position: relative;
      display: flex;
      flex-direction: row;
      scale: 1.05;
      transition: opacity 0.25s, scale 0.35s;
  }
  
  figure:hover img {
      opacity: 0.5;
      scale: 1;
      filter: blur(2px);
  }
  
  figure figcaption {
      position: absolute;
      inset: 0;
      padding: 30px;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      justify-content: center;
  }
  
  figure h4 {
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: capitalize;
      opacity: 0;
      transition: opacity 0.25s;        
  }
  
  figure:hover h4{
      opacity: 1;
  }

  figure button{
    z-index: 5;
    @include primaryButton;
    opacity: 0;
  }

  figure:hover button{
    opacity: 1;
}
  
  figure:hover{
      opacity: 1;
      background: -webkit-linear-gradient(-144deg, $primary-color 50%, $terciary-color);
  }
