@import '../abstracts/variables.module';

html{
    body{
        font-family: $font;
        color: $light-color;
        background-color: $dark-color;
        transition: .2s linear;
    }
}

::-webkit-scrollbar{
    width: 0px;
}


::selection{
    background-color: $primary-color;
    color: $light-color
}