@import '../abstracts/variables.module';

html, body{
    font-family: $font;
    color: $light-color;
    background-color: $dark-color;
}


::-webkit-scrollbar{
    width: 5px;

}

::-webkit-scrollbar-thumb{
    background: $light-color;
    border-radius: 4px;
}