@import '../abstracts/variables.module';

html, body{
    font-family: $font;
    color: $light-color;
    background-color: $dark-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::-webkit-scrollbar{

    background-color: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: $light-color;
    border-radius: 4px;
}