@import '../../../scss/abstracts/mixins.module';
@import '../../../scss/abstracts/variables.module';


.AboutUsContainer{
    height: 100vh;
    width: 100vw;
    @include centerDivs;

    .mainContainer{
        height: 100%;
        width: 80%;
        margin-top: 30px;

        @include centerDivsCols;
        
        .title{
            @include centerDivsCols;
            margin: 10px 0 20px 0;

            h4{
                @include subtitleSize;
            }
            h2{
                font-weight: 700;
                @include titleDegree
            }

        }
    }
}

.infoContainer{

    @include centerDivsRows;
    justify-content: space-evenly;

    .imgBox{
        margin: 0 20px 0 20px;
        img{
            max-height: 350px;
            border-radius: 7px;
            transition: .2s ease-in-out;
            box-shadow:  0px 0px 7px 0 #5B42F3; 

            &:hover{
                transform: translateY(-10px);
                box-shadow: 0px 10px 10px #5B42F3,
                            0px 14px 10px #00DDEB;
            }
        }
    }

    .description{
        @include centerDivsCols;
        max-width: 50%;
        .personData{
            margin-top: 20px;
            div:nth-child(2){
                margin-top: 30px;
            }

            .personInformation{
                @include centerDivsRows;
                justify-content: flex-start;
                margin-bottom: 10px;
                .icon{
                    margin: 0px 10px 0px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    background-color: $primary-color;
                    border-radius: 100%;
                    color: $light-color;
                    svg{
                        height: 25px;
                        width: 25px;
                    }
                }
            }
            
            
            .buttons{
                @include centerDivsRows;
                justify-content: flex-start;
                width: 100%;

                margin: 50px 0 0 0;

                .primaryCTAButton{
                  @include primaryButton;
                }

                .secondaryCTAButton{
                  @include secondaryButton;
                }
            }                        
        }
    }

}


