@mixin centerDivs {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin centerDivsRows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin centerDivsCols {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin titleDegree{
    background: -webkit-linear-gradient(-144deg, $primary-color 50%, $terciary-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    font-size: 40px;
}

@mixin subtitleSize{
  font-weight: 500;
  font-size: 20px;
}

@mixin primaryButton {
    background-color: #5B42F3;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: $font;
    padding: 3px;
    cursor: pointer;
    margin: 0 5px 0 5px;
    transition: .3s;
    padding: 10px 20px;
    color: $light-color;
  
    &:hover{
      box-shadow: #5a42f357 0 15px 30px -5px;
      background-color: #4027df;
    }
  
    @media (min-width: 768px) {
      .primaryButton {
        font-size: 14px;
        min-width: 196px;
      }
    }
  }

  @mixin secondaryButton {
        background-color: transparent;
        border: 2px solid #5B42F3;
        font-size: 16px;
        border-radius: 5px;
        font-weight: 400;
        font-family: $font;
        cursor: pointer;
        margin: 0 5px 0 5px;
        transition: .3s;
        padding: 8px 18px;
        cursor: pointer;
                
        &:hover{
            background-color: #5B42F3;
            box-shadow: #5a42f357 0 15px 30px -5px;
            color: $light-color;
        }
        
        @media (min-width: 768px) {
            .secondaryButton {
            font-size: 14px;
            min-width: 196px;
            }
        }
}