@import '../../../scss//abstracts/mixins.module';
@import '../../../scss//abstracts/variables.module';

.headerContainer{
    overflow-y: hidden;
    user-select: none;
    .filter{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .7);
        z-index: 1;
    }

    .headerContent{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-40%, -50%);
        z-index: 2;

        h1{
            font-weight: 600;
            animation: 1s titleAnimation;
            animation-fill-mode: forwards;
            animation-delay: .5s;
            opacity: 0;
            @include titleDegree;
            font-size: 60px;
        }

        p{
            width: 30vw;
            font-size: 22px;
            font-weight: 400;
            animation: 1s sloganAnimation;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            opacity: 0;
            color: $contrast-light-color;
        }
    }

    .videoContainer{
        .video{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: -1;

        }        
    }

    .scrollDown{
        position: absolute;
        text-align: center;
        color: $contrast-light-color;
        top: 90%;
        left: 50%;
        z-index: 2;
        height: 90px;
        transform:translate(-50%, 0);
        animation: 1s scrollDown;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        opacity: 0;
        p{
            font-size: 18px;
        }
        .scrollDownIcon{
            font-size: 25px;
            transition: .2s linear;
            cursor: pointer;
            &:hover{
                color: $light-color;
                text-shadow: 0 0 10px $dark-color,
                             0 0 15px $dark-color;
                transform: scale(1.10);
            }
        }
    }
}

@keyframes titleAnimation {
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sloganAnimation {
    0%{
        opacity: 0;
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scrollDown {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}