@import '../../../scss//abstracts/mixins.module';
@import '../../../scss//abstracts/variables.module';

.navbarContainer{
    max-width: 100vw;
    height: 70px;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    z-index: 10;
    .navbarContent{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .imgBox{
            height: max-content;
            transition: .2s linear;
            position: relative;
            margin: 0 30px 0 30px;
            img:nth-child(1){
                width: 40px;
                height: 30px;
                cursor: pointer;
                transition: .2s linear;
                &:hover{
                    transform: scale(1.10);
                }
            }
        }
        
        .listContainer{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                li{
                    margin: 0 10px;
                    a{  
                        cursor: pointer;
                        span{
                            font-size: 16px;
                            color: $contrast-light-color;
                            transition: .2s linear;
                            &:hover{
                                color: $light-color;
                            }
                        }
                        &:visited{
                            color: $light-color;
                        }
                    }
                }
            }
            
        }
        .iconsContainer{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            .socialMedia{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                li{ 
                    color: $contrast-light-color;
                    margin: 0 5px 0 5px; 
                    transition: .2s linear;

                    svg{
                        height: 20px;
                        width: 20px;
                    }

                    &:hover{
                        color: $light-color;
                        cursor: pointer;
                    }
                }
            }
            .colorModeIcons{
                margin: 0 30px 0 30px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .sun{
                    cursor: pointer;
                    transition: .2s linear;
                    color: $contrast-light-color;

                    svg{
                        height: 30px;
                        width: 30px;
                    }
        
                    &:hover{
                        color: $light-color;
                    }
                }
                .moon{
                    cursor: pointer;
                    transition: .2s linear;
                    color: $contrast-light-color;

                    svg{
                        height: 25px;
                        width: 30px;
                    }
        
                    &:hover{
                        color: $light-color;
                    }
                }
    
            }

        }
    }
}

